// Import a Google Font

// Set your brand colors
$darkpurple: #22264b;
$navbar-item-color: #fff;

// Update Bulma's global variables
$primary: $darkpurple;
$secondary: #b56969;
$highlight: #e6cf8b;
$lighttext: #e8edf3;


// Import the rest of Bulma
@import "bulma";

.footer-is-fixed-bottom {
    background-color: $primary;
    color: $lighttext;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
}

.navbar-burger {
    color: $lighttext;
    &.is-active {
        color: $lighttext
    }
    &:hover {
        color: $lighttext
    }
}

.fa-google {
    background-color: #D75040;
    color: #fff;
    border-radius: 20%;
    padding: 3px;
    transition: all .5s ease-in-out;
    &:hover {
        transform: rotate(360deg);
        cursor: pointer;
    }
}

.login-div {
    margin-top: 15%
}