// Import a Google Font

// Set your brand colors
$darkpurple: #22264b;
$navbar-item-color: #fff;

// Update Bulma's global variables
$primary: $darkpurple;
$secondary: #b56969;
$highlight: #e6cf8b;
$lighttext: #e8edf3;

@media screen and (min-width: 768px) {
    .navbar, .footer-is-fixed-bottom {
        box-shadow: 0px 0px 3px 3px dodgerblue;
    }
    .sidebar-col #user-sidebar {
        box-shadow: 0px 0px 20px 2px #9E9E9E;
    }
}

.hero.is-fullheight{
    min-height: calc(100vh - 4rem);
}

.footer-is-fixed-bottom {
    background-color: $primary;
    color: $lighttext;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
}

.navbar-burger {
    color: $lighttext;
    &.is-active {
        color: $lighttext
    }
    &:hover {
        color: $lighttext
    }
}

.navbar-menu.is-active {
    padding: 0px;
    .navbar-item {
        &:first-child {
            border-top: 1px solid #000;
            padding: 15px;
        }
        border-bottom: 1px solid #000;
        background-color: $darkpurple;
        a {
            color: #fff;
        }
    }
}

.fa-google {
    background-color: #D75040;
    color: #fff;
    border-radius: 20%;
    padding: 3px;
    transition: all .5s ease-in-out;
    &:hover {
        transform: rotate(360deg);
        cursor: pointer;
    }
}

.login-div {
    margin-top: 15%
}

.spinner-container {
    position: fixed;
    background-color: $darkpurple;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    .spinner-background {
        position: fixed;
        margin-top: calc(50vh - 50px);
        margin-left: calc(50vw - 50px);
        .spinner {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            border-bottom: 16px solid #3498db;
            width: 100px;
            height: 100px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
    }
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Sidebar
.sidebar-col{
    margin-right: 0%;
    #user-sidebar {
        background-color: #22264b;
        color: #fff;
        height: calc(100vh - 6rem);
        margin: 0%;
        padding: 3rem;
        a {
            color: #fff;
        }
        a:hover, a.is-active{
            background-color: dodgerblue;
        }
    }
    @media screen and (max-width: 768px) {
        #user-sidebar {
            display: none;
            margin-top: -7%;
            height: 100vh;
            overflow: scroll;
        }
        #user-sidebar {
            &.is-active {
                display: block;
            }
        }
    }
}

// User Profile Styles
.panel-heading.profile {
    background-color: #22264b;
    color: #fff;
    border: 1px solid #22264b;
}
.panel-tabs {
    background-color: #22264b;
    padding: 1rem 2rem;
    border: 1px solid #22264b !important;
    justify-content: space-evenly !important;
    a {
        color: #fff !important;
        padding: 0.4em !important;
        border-bottom: 0px !important;
        border-radius: 5px;
    }
    a:focus, .is-active {
        background-color: dodgerblue;
        border-bottom-color: dodgerblue !important;
    }
    a:hover {
        background-color: dodgerblue;
        border-bottom-color: dodgerblue !important;
    }
}
.hide-div {
    display: none;
}
.info-tabs {
    .columns {
        box-sizing: border-box;
        margin: 0px !important;
        border-bottom: 1px solid dodgerblue;
        :first-child {
            border-left: 1px solid dodgerblue;
        }
        :last-child {
            border-right: 1px solid dodgerblue;
        }
    }
}

// Import the rest of Bulma
@import "bulma";