{{nav-bar authenticatedUser=session.currentUser}}

{{welcome-page isIndex=indexRoute authenticatedUser=session.currentUser}}

{{outlet}}

<div class="footer-is-fixed-bottom">
    &copy; MLM Client - 2018
</div>